<div class="footer">
    <p>this website is designed by Agoha Isdore Chibuike (Courtesy Trech.com)<br>
    copyright.</p>
</div>
 <script  src="/stylesheet/script.js" type="text/javascript"></script>
</body>
</html>