<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Explore plage</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="explore-page">
		<div><h1>Welcome to the explore trech space <i class="fa-solid fa-rocket"></i></h1> 
	</div>
	<a  href="/index"> <i class="fa-solid fa-house"></i>  Home page</a> 
    <div class="search-cont">
		
    	<form action="/result" method="GET">
    		<input class="search-bar" type="text" name="searchterm" placeholder=" image">
			
           <input class="search-bar" type="text" value="1" name="page" placeholder="page number you want" />
    		<button class="search-submit">search</button>
    	</form>
    </div>
		
	</div>
	<div class="pictures">
		<div class="picture">
			<img src="https://images.unsplash.com/photo-1546830152-f6cc0b95b7b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1581090464777-f3220bbe1b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1560813487-803cbe32d18b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhhYml0YXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlmZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1564053489984-317bbd824340?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZWFydGh8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60.jpg">
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			<img src="https://images.unsplash.com/photo-1513364776144-60967b0f800f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

		<div class="picture">
			
			<img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZWR1Y2F0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60.jpg">
			
		</div>

	</div>

 <section>
 	<div class="slideshow">
 		
 	</div>
 </section>
 <%- include ("./partials/footer") %>
 