<%- include ("./partials/header") %>
<div class="explore_page">
	<h1>welcome to the trech Xplore page</h1>

  <form action="/result" method="GET">
	  <label>Search image</label>
	<input type="search" name="searchterm" placeholder="house" class="search">

	<label>Page Number</label>
	<input  type="text" name="page" value="1" placeholder="1" class="page">

	<button type="submit" class="btn btn-primary ml-3 ">Send</button>
	
	</form>
</div>

<div class="image_card">

	<img src="https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">

	<img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">

	<img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">

	<img src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">

	<img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZWR1Y2F0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">

	<img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
	
</div>


<div class="container">
	
<form action="/send_email" method="post">
		<h2>Send us a  message</h2>
		<div class="form-floating mb-3">
		<label for="username">Name:</label>
    <input type="text" class="form-control form-control-sm" name="name" id="from" placeholder="Enter your username">
  </div>
	
<div class="form-floating mb-3">
  <label for="inputEmail">Email address</label>
<input type="email" class="form-control form-control-sm" id="from" placeholder="Email">



<div class="form-floating mb-3">
<label for="exampleFormControlTextarea1" class="form-label"> text area</label>
<textarea class="form-control" name="message" id="message" rows="3"></textarea>
</div>


<button type="submit" class="btn btn-primary w-100">Send</button>
</form>
</div>
<%- include ("./partials/footer") %>