<%- include ("./partials/header") %>
<h1>Forgot password</h1>
<form action="/forgot" method="POST">
  <label>email</label>
  <input type="email" name="email" />
  <input type="submit" value="Reset password" />
</form>

<%- include ("./partials/footer") %>
