<%- include ("./partials/header") %>
<section class="sec1">
    <div>
    <h3>Welcome to <span class="tr2">Trech</span> space,
        Kindly send us an email as<br>
    we create good web applications for you. <i class="fa-solid fa-xl fa-white fa-envelope-open-text"></i></h3>
    
  <a  class="busy" href="/click">Click here!</a>
    </div>

    <div class="box-house">
  <span class="line"></span>
  <div class="boxes">

  <div class="box">
  <p>We believe that it takes great <br>
   people to deliver a great<br>
    web application. </p>
 </div>

    <div class="box">
  <ul>
      <p><i class="fa-solid fa-check"></i> HTML</p>
      <p><i class="fa-solid fa-check"></i> CSS</p>
      <p><i class="fa-solid fa-check"></i> JAVASCRIPT</p>
      <p><i class="fa-solid fa-check"></i> BOOTSTRAP</p>
  </ul>
    </div>
</div>
  </div>
   

    <div class="xplore">
        <a href="/explore"> <img src="/image/giphy.gif"></a>
        <h4>click here <i class="fa-solid fa-arrow-up"></i></h4>
    </div>
        
</section>

<section class="sec2">
    <div class="slider">
     
         <div class="slide">
             <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60.jpg">
         </div>

         <div class="slide">
             <img src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60.JPG">
         </div>

         <div class="slide">
             <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60.jpg">
         </div>
      <button class="slider__btn slider__btn--left">&larr;</button>
     <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
    </div>
    
</section>
<section class="sec3">
    <div class="frameworks"><h3>Frameworks</h3></div>
        
    <div class="cards">
        <div class="card">
            <img src="/image/js.png">
            <h2>JavaScript</h2>
<a href="https://www.javascript.com/">Read more</a>
        </div>

        <div class="card">
            <img src="/image/nodejs.png">
            <h2>NodeJS</h2>
            <a href="https://nodejs.org/en/">Read more</a>
        </div>

        <div class="card">
            <img src="/image/express.png">
            <h2>Express</h2>
<a href="https://expressjs.com/">Read more</a>

        </div>
     <div class="card">
            <img src="/image/mongodb.png">
            <h2>MongoDB</h2>
                <a href="https://www.mongodb.com/what-is-mongodb">Read more</a>
        </div>

    </div>
</section>

<section class="sec4">

    <h1>About Me</h1>
    <p>Hello!, My name Agoha Isdore Chibuike and i am fullstack web developer with a 2 years of experience. I have worked with few individuals and organizations to develope exceptional web applications using JavaScript/NODEJS as my programming langauges.</p>

    <p>During my high school days i had always been intrigued by how the internet worked and this paved my career into web development which starrted way back in 2021. the disire actually drove into getting started as a  front web developer then transitioning into a full stack engineer. </p>

<div class="comm">
  <div class="about">
    <h4>Contact Us</h4>
       <p><i class="fa-solid  fa-phone"></i> : 09017891265</p>
       
  </div>

  <div class="socials">
   
       <p><a href="https://www.instagram.com/trech_co/"><i class="fa-brands fa-xl fa-instagram"></i> @trech_co</p></a>
       <p><a href="https://twitter.com/isdorer1"><i class="fa-brands fa-xl fa-blue fa-twitter"></i> @isdorer1</p></a>
  </div>
  </div>
</section>
<%- include ("./partials/footer") %>