<%- include ("./partials/header") %>
	
    
    <div class=" cartoon">
    	<img src="/image/cartoon.jpg">
    </div>




        <div class="land-1">
        	<h1>Welcome to Trech,</h1>
		 <p>where your journey to greatness begins with the knowledege of technology.
		  Get ready to discover how the internet works as we explore.</p>
		  <a href="/index">let's get started</a>
		  <p class="p2">this website is designed by Agoha Isdore Chibuike (Courtesy Trech.com)
             copyright.</p>
        </div>

	</div>
	</div>
	<%- include ("./partials/footer") %>

