<%- include ("./partials/header") %>
<main>
	<section id="hero">
		<h1>welcome</h1>
		<p> please make yourself comfortable as you are about to explore.<br>
		free your mind and catch the cruise thanks. </p>
	</section>
</main>
    
    

	
	<%- include ("./partials/footer") %>

